.dashPage{
    background: url('Images/doc2.jpg');
    background: linear-gradient(rgba(11,11,11,),rgba(10,10,10)),url("Images/doc2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}  
.dashForm{
    background-color: rgba(1,32,93,0.6);
    color: white;
}