.loginPage{
    background: url('Images/hosp.jpg');
    background: linear-gradient(rgba(11,11,11,),rgba(10,10,10)),url("Images/hosp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}  
.loginForm{
    background-color: #5a859fa9;
    color: white;
    border-radius: 5px 30px 5px 30px;
}